In [1]:
import geopandas as gpd
import pandas as pd
import os
import matplotlib.pyplot as plt
from io import StringIO
from shapely.geometry import Point

from typing import Optional

import censusdis.data as ced
import censusdis.maps as cem
import censusdis.values as cev
from censusdis import states

import pickle
import numpy as np

pd.options.mode.chained_assignment = None

In [2]:
os.chdir("/Users/canyonfoot/Documents/python_proj/EPA-Hack-Day-Analysis")

from src.utils.utility_functions import (
    national_tracts
)

In [3]:
CENSUS_VARS = {
    "NAME" : "NAME",
    "B19013_001E" : "median_hh_income",
    "B01001_001E" : "total_pop",
    "B17001_002E" : "pop_in_poverty",
    "B03002_003E" : "white_pop",
    "B03002_004E" : "black_pop",
    "B03002_006E" : "asian_pop",
    "B03002_012E" : "hispanic_pop",
    "B03002_005E" : "native_american_pop",
    "B03002_009E" : "two_or_more_pop",
    "B25003_001E" : "total_households",
    "B25003_002E" : "owner_households",
    "B25003_003E" : "renter_households",
    "B25077_001E" : "median_home_value",
    "B25002_001E" : "total_housing_units",
    "B25002_003E" : "vacant_units"
}

In [4]:
US_tracts = national_tracts(CENSUS_VARS)

In [6]:
US_tracts

,STATE,COUNTY,TRACT,BLOCK_GROUP,NAME,median_hh_income,total_pop,pop_in_poverty,white_pop,black_pop,...,hispanic_pop,native_american_pop,two_or_more_pop,total_households,owner_households,renter_households,median_home_value,total_housing_units,vacant_units,geometry
0,01,061,050300,6,"Block Group 6, Census Tract 503, Geneva County...",24518.0,758,NaN,540,218,...,0,0,0,414,295,119,48700.0,472,58,"POLYGON ((-85.88104 31.04763, -85.87478 31.045..."
1,01,061,050400,3,"Block Group 3, Census Tract 504, Geneva County...",45430.0,678,NaN,678,0,...,0,0,0,383,361,22,153200.0,438,55,"POLYGON ((-85.74388 31.00932, -85.73985 31.009..."
2,01,061,050500,1,"Block Group 1, Census Tract 505, Geneva County...",43523.0,787,NaN,652,107,...,0,18,10,335,215,120,120600.0,398,63,"POLYGON ((-85.65542 31.13070, -85.65344 31.129..."
3,01,061,050500,4,"Block Group 4, Census Tract 505, Geneva County...",52500.0,1137,NaN,710,288,...,87,52,0,412,300,112,75100.0,522,110,"POLYGON ((-85.64495 30.99668, -85.64264 30.998..."
4,01,061,050600,3,"Block Group 3, Census Tract 506, Geneva County...",37212.0,1591,NaN,1323,56,...,194,0,13,586,392,194,116700.0,663,77,"POLYGON ((-85.56763 31.11074, -85.56152 31.113..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,56,001,962900,2,"Block Group 2, Census Tract 9629, Albany Count...",58071.0,647,NaN,342,0,...,298,0,0,405,279,126,189200.0,456,51,"POLYGON ((-105.60835 41.30131, -105.60658 41.3..."
453,56,001,963000,1,"Block Group 1, Census Tract 9630, Albany Count...",24200.0,1039,NaN,852,0,...,109,5,48,478,161,317,199700.0,580,102,"POLYGON ((-105.59575 41.32246, -105.59574 41.3..."
454,56,001,963000,2,"Block Group 2, Census Tract 9630, Albany Count...",22917.0,1492,NaN,1310,2,...,130,3,46,582,187,395,72700.0,744,162,"POLYGON ((-105.59813 41.34602, -105.59417 41.3..."
455,56,001,963101,1,"Block Group 1, Census Tract 9631.01, Albany Co...",119201.0,2037,NaN,1838,0,...,0,0,64,699,634,65,343500.0,746,47,"POLYGON ((-105.55755 41.32500, -105.55735 41.3..."
456,56,001,963101,2,"Block Group 2, Census Tract 9631.01, Albany Co...",106181.0,2016,NaN,1766,0,...,219,0,31,562,456,106,346500.0,562,0,"POLYGON ((-105.58338 41.33381, -105.58340 41.3..."

In [ ]:
US_tracts.to_file("data/processed/US_tract_census.geojson")